{% extends "base.html" %}
{% block content %}
   <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for wallet in wallets %}
                <tr>
                    <td>
                        {{wallet.name}}
                    </td>
                    <td>
                        <a href="/wallet/view" class="button btn btn-info mr-2">View</a>
                        <a href="/wallet/edit" class="button btn btn-warning mr-2">Edit</a>
                        <a href="/wallet/delete" class="button btn btn-danger mr-2">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        </tfooter>

   </table>
{% endblock %}